.About {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #846155;
  background-color: white;
  overflow: hidden;
}

.imageContainer {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.imageContainer h2 {
  font-size: 3rem;
}

.imageContainer img {
  width: 400px;
}

@media (max-width: 600px) {
  .imageContainer img {
    width: 250px;
  }
}
