.About {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.About::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.About > * {
  z-index: 1;
}

.container {
  width: 75%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4rem;
  overflow: hidden;
  margin: 3rem 0;
}

.imageContainer {
  width: 45%;
  text-align: center;
}

.imageContainer img {
  width: 80%;
}

.content {
  width: 45%;
  min-width: 350px;
}

.content h2 {
  font-weight: 700;
  font-size: 5rem;
  color: #a97148;
  letter-spacing: 6px;
  margin-bottom: 5rem;
}

.content p {
  font-size: 2rem;
  letter-spacing: 3px;
}

@media only screen and (max-width: 640px) {
  .container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    text-align: center;
    margin: 0;
  }

  .imageContainer {
    width: 100%;
  }

  .content {
    width: 100%;
    min-width: 0px;
  }

  .content h2 {
    font-weight: 700;
    font-size: 3rem;
    color: #6e5239;
    letter-spacing: 6px;
    margin: 4rem auto;
  }

  .content p {
    font-size: 1.6rem;
  }
}
