.Contact {
  background-color: #7aabb9;
  padding-top: 1rem;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: white;
}

.title {
  background-color: #ffffff;
  border-radius: 30% 70% 70% 30% / 30% 30% 80% 80%;
  padding: 2rem;
}

.title h2 {
  font-size: 3rem;
  text-align: center;
  color: #7aabb9;
}

.container {
  width: 100%;
}

.Contact_Container {
  text-align: center;
}

.Contact_Map {
  width: 100%;
}

.Contact_Map iframe {
  width: 70%;
  height: 50vh;
  min-width: 400px;
  max-width: 1200px;
  max-height: 1000px;
  border: 2px solid #846155;
}

.Contact_Info {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Contact_Info_Container h3 {
  display: inline-block;
  margin: 2rem 0 0 0;
  font-weight: 400;
  margin-right: 1rem;
}

.Contact_Info_Container p {
  display: inline-block;
  margin-top: 0.5rem;
  font-weight: 600;
}

@media (max-width: 450px) {
  .title h2 {
    font-size: 2rem;
  }

  .Contact_Map iframe {
    min-width: 250px;
    height: 20vh;
    width: 90vw;
  }

  .Contact_Info_Container h3 {
    display: block;
  }

  .Contact_Info_Container p {
    display: block;
  }
}
