.Menu {
  background-color: #846155;
  width: 60vw;
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
}

.Menu h2 {
  font-size: 3rem;
  color: #533d35;
  text-decoration: underline;
  font-style: italic;
  margin-bottom: 3rem;
  display: inline-block;
}

.Menu_container {
  display: flex;
  justify-content: space-evenly;
}

.Menu_container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Menu_container ul li {
  padding: 0.8rem;
  font-weight: 600;
  position: relative;
}

@media (max-height: 500px) {
  .Menu h2 {
    font-size: 2rem;
  }

  .Menu_container ul li {
    font-size: 0.5rem;
  }
}

@media (max-width: 600px) {
  .Menu {
    width: 100%;
    justify-content: center;
    position: relative;
  }

  .Menu h2 {
    display: none;
  }

  .Menu_container ul li {
    font-size: 1.3rem;
  }
}
