.NavMobile {
  z-index: 999;
  width: 100%;
  position: fixed;
  display: none;
}

.NavMobile__Open {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  pointer-events: auto;
}

.NavIcon {
  background-color: #a97148;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 1rem;
}

.line1,
.line2,
.line3 {
  height: 2px;
  margin: 0.2rem;
  background-color: white;
}

.line1 {
  width: 9px;
}

.line2 {
  width: 18px;
}

.line3 {
  width: 9px;
}

.logo {
  margin-right: 1rem;
}

.logo h1 {
  font-size: 2rem;
  color: #a97148;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.NavMobile__Closed {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.NavMovile_Closed_hide {
  left: -100%;
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navLinks li {
  font-size: 3.5rem;
  margin: 1.5rem;
  cursor: pointer;
  letter-spacing: 2px;
}

.socialMedia_links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.socialMedia_links li {
  padding: 2rem;
}

.socialMedia_links a {
  font-size: 2.5rem;
  color: white;
}

.closeMenuButton {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 4%;
  left: 80%;
}

.closeMenuButton img {
  width: 100%;
}

.active li {
  color: #a97148;
}

@media only screen and (max-width: 640px) {
  .NavMobile {
    display: block;
  }
}
