.NavMobile {
  z-index: 999;
  width: 100%;
  pointer-events: none;
  position: fixed;
}

.NavMobile__Open {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  pointer-events: auto;
}

.NavIcon {
  background-color: #846155;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 1rem;
}

.line1,
.line2,
.line3 {
  height: 2px;
  margin: 0.2rem;
  background-color: white;
}

.line1 {
  width: 9px;
}

.line2 {
  width: 18px;
}

.line3 {
  width: 9px;
}

.logo {
  margin-right: 1rem;
}

.logo h1 {
  font-size: 2rem;
  color: #846155;
  font-style: italic;
}

.NavMobile__Closed {
  background-color: #846155;
  width: 80%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinks {
  list-style: none;
  text-align: left;
  margin-left: -2.5rem;
}

.navLinks li {
  font-weight: 600;
  font-size: 2rem;
  padding: 1rem;
  margin: 5rem;
  cursor: pointer;

  display: block;
}

.closeMenuButton {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 3%;
  left: 80%;
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.closeMenuButton img {
  width: 70%;
}

.active li {
  box-shadow: 0px 0px 100px black;
  background-color: white;
  color: #846155;
}
