* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.625em;
}

body {
  margin: 0;
  font-family: "Montserrat Web", sans-serif;
  font-size: 1.6rem;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-height: 600px) {
  body {
    font-size: 1rem;
  }
}
